/*
COLORS:

Light green: #7ed56f --> rgb(126, 213, 111)
Medium green: #55c57a --> rgb(40, 180, 131)
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
